<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mikroblog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <h1>Mikroblog</h1>
        <nav>
            {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">Zaloguj się</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Wyloguj się</a>
            {% endif %}
        </nav>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        <div class="content">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>